*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* regole generali pagina */
/*  */

.bordopagina{
  width: 80%;
  margin: 0 auto;
}

.testosito{
  font-family: sans-serif;
}

/*  */

.padding-resize{
  /* padding: 40px 40px; */
  /* margin-left: : 400px; */
  background-color: rgb(30, 65, 114);
  width: 100%;
  /* height: 400px; */
}

/* Add a black background color to the top navigation */
.topnav {
  width: 80%;
  margin:0 auto;
  padding-top: 20px;
  position: relative;
  /* background-color: #333; */
}

/* Stile nel navigation bar */
.topnav a {
  text-decoration: none;
  color: white;

}
.topnav li {
  float: left;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 16px;
  /* font-size: 17px; */
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 5px;
  }

/* cambio colore all'hover */
.topnav li:hover {
  background-color: lightblue;
}

/* spazio per il logo a sx */
.topnav-left img{
  padding-right: 40px;
}
.topnav-left li, img {
  float: left;
}

/* allineamento float dx per navbar */
.topnav-right {
  float: right;
}
.topnav-right li{
  display: inline-block;
  margin-left:  30px;
}

.topnav-right li:nth-child(2){
  border-color: white;
  border: solid 1px;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 40px;
}

.topnav-right li:last-child{
  background-color:rgb(112, 200, 23);
}

.topnav::after{
  content: '';
  clear: both;
  display: table;
}

/* fine navigation bar menu */


/* titolo nell'header */
.titolo {
  position: relative;
  height: 500px;
  background-color:  rgb(30, 65, 114);
  background-image: url(../img/fluentify-jumbo.png);
  background-size: 1100px;
  background-repeat: no-repeat;
  /* background-position: right bottom; */
  background-position: 110% 100%;
}

.titolocontenuto{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titolo h1{
 font-family: sans-serif;
 color: white;
 font-size: 50px;
 display: block;
}

.titolo a{
  margin-top: 30px;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 16px;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: rgb(112, 200, 23);
  font-family: sans-serif;
  text-decoration: none;
}
/* WARNING: fine header */
/* sezione grigia */

.sezionegrigia{
  height: 150px;
  background-color: rgb(237, 237, 237);
  position: relative;

  }

.testosezgrigia{
  text-align: center;
  line-height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  }
.testosezgrigia h2{
  color: black;
  font-size: 30px;
}

.testosezgrigia p{
  color: rgb(175, 175, 175);
  font-size: 20px;
}

/* WARNING: inizio sezione 3 colonne */
.containercolonna{
  text-align: center;

}
.colonna {
  display: inline-block;
  /* height: 400px; */
  width: 24%;
  margin: 25px 2%;
  /* background-color: pink; */
}

.colonnasvg1 {
  background-image: url(../img/fluentify-piano.svg);
  height: 150px;
  background-repeat: no-repeat;
  background-position: top center;
  margin-bottom: 20px;

}
.colonnasvg2 {
  background-image: url(../img/fluentify-affiancamento.svg);
  height: 150px;
  background-repeat: no-repeat;
  background-position: top center;
  margin-bottom: 20px;

}
.colonnasvg3 {
  background-image: url(../img/fluentify-monitora.svg);
  height: 150px;
  background-repeat: no-repeat;
  background-position: top center;
  margin-bottom: 20px;
}
/* stile titolo blocco */
.colonna h4{
  display: block;
  font-size: 28px;
  color: rgb(112, 200, 23);
}

.colonna hr{
  width: 80px;
  margin: 30px auto;
}
.colonna p{
  color: rgb(175, 175, 175);
}
/* WARNING: fine sezione 3 colonne */
/* inizio sezione a 2 colonne */

.containerlivello{
  border-top: 0.5px solid;
  /* border-style: solid; */
  border-color: lightgrey;
  padding-top: 30px;
  margin-bottom: 30px;
}

/* debug */
.scalatasvg{
  float: left;
  background-image: url(../img/fluentify-scopri.svg);
  height: 450px;
  background-repeat: no-repeat;
  background-position: top center;
  /* background-color: red; */
  width: 40%;
  margin-left: 10%;

}
.scalatatesto{
  float: left;
  /* height: 200px; */
  /* background-color: blue; */
  width: 25%;
  margin-left:4%;
}
.scalatatesto h4{
  font-size: 28px;
  line-height: 35px;
  margin-bottom: 20px;
}
.scalatatesto p{
  margin-bottom: 20px;
  color: rgb(175, 175, 175);
}
.scalatatesto a{
  color: lightblue;
}
.containerlivello::after{
  content: '';
  clear: both;
  display: table;
}
/* WARNING: fine sezione 2 colonne */
/* inizio footer */
.sezioneaction {
  height: 150px;
  background-color: rgb(237, 237, 237);

}

.testoaction {
  height: 50px;
  /* background-color: red; */
  width: 30%;
  float: left;
  margin-top: 50px;
}
.testoaction h2{
  font-size: 30px;
}
.bloccoactiontesto{
  height: 50px;
  /* background-color: pink; */
  width: 22%;
  float: right;
  margin-top: 50px;

}
.bloccoactionbottone{
  height: 50px;
  /* background-color: blue; */
  width: 20%;
  float: right;
  margin-top: 36px;
  text-align: center;
}

.bloccoactionbottone a:first-child{
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 16px;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: rgb(112, 200, 23);
  font-family: sans-serif;
  text-decoration: none;
}
.bloccoactionbottone a:last-child{
  margin-top: 14px;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: rgb(112, 200, 23);
  font-family: sans-serif;
  text-decoration: none;
}




.bloccoactiontesto p,select {
  display: inline-block;
}
.bloccoactiontesto select{
  margin-left: 20px;
  width: 200px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.0);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;

}
.classeselezione{
  width: 70px;
  /* position: relative; */
}
