*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.padding-resize{
  /* padding: 40px 40px; */
  /* margin-left: : 400px; */
  background-color: blue;
  width: 100%;
  height: 400px;
}


/* Add a black background color to the top navigation */
.topnav {
  width: 80%;
  margin:0 auto;
  padding-top: 20px;
  position: relative;
  background-color: #333;
  overflow: hidden;
}

/* Stile nel navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* font-size: 17px; */
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 14px;
  border-radius: 5px;
}

/* cambio colore all'hover */
.topnav a:hover {
  background-color: lightblue;
}

/* Add a color to the active/current link */
/* .topnav a.active {
  background-color: #4CAF50;
  color: white;
} */

/* spazio per il logo a sx */
.topnav-left img{
  padding-right: 40px;
}
.topnav-left a, img {
  float: left;
}

/* allineamento float dx per navbar */
.topnav-right {
  float: right;
}
.topnav-right a{
  margin-left:  30px;
}

.topnav-right a:nth-child(2){
  border-color: white;
  border: solid 1px;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 40px;
}

.topnav-right a:last-child{
  background-color: green;
}
