*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* regole generali pagina */
/*  */

.bordopagina{
  width: 80%;
  margin: 0 auto;
}

.testosito{
  font-family: sans-serif;
}

/*  */

.padding-resize{
  /* padding: 40px 40px; */
  /* margin-left: : 400px; */
  background-color: rgb(30, 65, 114);
  width: 100%;
  /* height: 400px; */
}

/* Add a black background color to the top navigation */
.topnav {
  width: 80%;
  margin:0 auto;
  padding-top: 20px;
  position: relative;
  /* background-color: #333; */
}

/* Stile nel navigation bar */
.topnav a {
  text-decoration: none;
  color: white;

}
.topnav li {
  float: left;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 16px;
  /* font-size: 17px; */
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 5px;
  }

/* cambio colore all'hover */
.topnav li:hover {
  background-color: lightblue;
}

/* spazio per il logo a sx */
.topnav-left img{
  padding-right: 40px;
}
.topnav-left li, img {
  float: left;
}

/* allineamento float dx per navbar */
.topnav-right {
  float: right;
}
.topnav-right li{
  display: inline-block;
  margin-left:  30px;
}

.topnav-right li:nth-child(2){
  border-color: white;
  border: solid 1px;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 40px;
}

.topnav-right li:last-child{
  background-color:rgb(112, 200, 23);
}

.topnav::after{
  content: '';
  clear: both;
  display: table;
}

/* fine navigation bar menu */


/* titolo nell'header */
.titolo {
  position: relative;
  height: 500px;
  background-color:  rgb(30, 65, 114);
  background-image: url(../img/fluentify-jumbo.png);
  background-size: 1100px;
  background-repeat: no-repeat;
  /* background-position: right bottom; */
  background-position: 110% 100%;
}

.titolocontenuto{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titolo h1{
 font-family: sans-serif;
 color: white;
 font-size: 50px;
 display: block;
}

.titolo a{
  margin-top: 30px;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 16px;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: rgb(112, 200, 23);
  font-family: sans-serif;
  text-decoration: none;
}

/* sezione grigia */

.sezionegrigia{
  height: 150px;
  background-color: rgb(237, 237, 237);
  position: relative;

  }

.testosezgrigia{
  text-align: center;
  line-height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  }
.testosezgrigia h2{
  color: black;
  font-size: 30px;
}

.testosezgrigia p{
  color: rgb(175, 175, 175);
  font-size: 20px;
}
